.modal {
  inline-size: min(30rem, 100%);
  margin: auto;
  border: none;
  border-radius: var(--border-radius-2);
}

.modal::backdrop {
  background-color: var(--color-backdrop);
  backdrop-filter: blur(2px);
}

.modal > main {
  padding: 0.5rem 1rem;
}

.modal > header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-block-end: 1px solid var(--color-border);
}

.modal > header .heading {
  font-size: var(--fz-500);
  font-weight: 500;
}
