.item {
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  border: 1px solid transparent;
  cursor: default;
  user-select: none;
}

.item button {
  opacity: 0;
}

.item:not(.presentational) {
  button:hover {
    opacity: 1;
  }
}
