.item {
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
}
