.item {
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  border: 1px solid transparent;
}

.item button {
  opacity: 0;
}

.item button:hover {
  opacity: 1;
}

.active {
  border-color: var(--color-primary);
}
