.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: 100dvh;
}

.error-page h1 {
  font-size: var(--fz-600);
  font-weight: 100;
}
