.home {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
}

.main {
}

/* main-header */
.main > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 0.5rem;
}

/* main-boards -ul styles */
.main .boards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}
